body {
    margin: 0%;
    max-width: 100%;
    max-height: 100%;
}

#main {
    max-width: 100%;
    max-height: 100%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 18vh;
    display: flex;
    align-items: center;
    justify-items: center;

}

#card-container {
    margin: auto auto auto auto;
    overflow-y: hidden;
    overflow-x: hidden;
    border-radius: 30px;
    transform: translateX();
    transition: 1s all;

}

#album {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto auto auto auto;
    width: 35em;
    height: 23em;
    overflow-y: hidden;
    overflow-x: hidden;
    position: relative;
}

#album img {
    width: 100%;
    height: 100%;
}

#card-container:hover {
    box-shadow: 6px 6px 15px;
}

#card-container .save-button:hover {
    transform: translateY(20px);
}




.save-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background-color: red;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 30px;
    width: 4.5em;
    height: 2.5em;
    /* transform: translateY(-100px); */
}

.save-button:hover {
    transform: translateY(10px);
}

.bottompart {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: ghostwhite;
    position: absolute;
    bottom: 20px;
    left: 30px;
    right: 0;
    width: 16em;
    height: 2.5em;
    overflow: hidden;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}



.arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: ghostwhite;
    font-size: 1em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: 20px;
    right: 100px;
    width: 2.5em;
    height: 2.5em;

}

.elipsis {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 150px;
    background-color: ghostwhite;
    font-size: 1em;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    bottom: 20px;
    right: 30px;
    width: 2.5em;
    height: 2.5em;
}